<!doctype html>
<head>
    <title>Photosplatter on {{hostname}}</title>
    <link rel="stylesheet" href="/assets/screen.css">
</head>
<body>
{{range $photo := .Photos}}<a href="/images/{{$photo.Name}}"><img src="/images/{{$photo.Name}}"></a>{{end}}
</body>
